<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<!-- Thymeleaf에서 th는 접두어로 아래와 같은 설정이 가능합니다.

th:text: HTML 태그의 텍스트 내용을 동적으로 설정합니다.
th:value: input 필드의 값을 동적으로 설정합니다.
th:each: 반복문을 사용하여 리스트나 배열의 항목을 순회합니다.
th:if, th:unless: 조건문을 사용하여 특정 조건에 따라 태그를 렌더링하거나 숨깁니다.
th:attr: 태그의 속성 값을 동적으로 설정합니다.
th:action: 양식(form)의 action 속성 값을 동적으로 설정합니다.

아래와 같은 설정일 때 message가 존재한다면 원본은 동적으로 덮어 씌어집니다.
<p th:text="${message}">Default message</p>

-->
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>Message: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>